/*---------------------------------------------------------------------------*\
|                                                                             |
|                                                                             |
|                                                                             |
|                                                                             |
\*---------------------------------------------------------------------------*/
#include <windows.h>
#include "isg_test.h"

/*---------------------------------------------------------------------------*\
| RESOURCES                                                                   |
\*---------------------------------------------------------------------------*/
STRINGTABLE
BEGIN
     NULL ""
END
