/**[f******************************************************************
 * pre.rc -
 *
 * Copyright (C) 1988 Aldus Corporation.  All rights reserved.
 * Company confidential.
 *
 * mod history:
 *	chrisg, 88-dec-03, getting rid of stupidity
 *
 **f]*****************************************************************/


#include "..\win.h"
#include "..\resource.h"
#include "..\printers.h"
#include "..\psoption.h"
#include "..\psprompt.h"
#include "idssourc.h"
#include "idsprint.h"
#include "idspaper.h"
#include "..\dmrc.h"
#include "..\pserrors.h"
#include "..\version.h"


/* this comes from the dummy res file ps.res (it can be loaded into the
 * dialog editor) */


L	ICON	LANDSCAP.ICO
P	ICON	portrait.ico

#include "ps.dlg"

agb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	agb.pfm
agbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	agbo.pfm
agd	MYFONT LOADONCALL MOVEABLE DISCARDABLE	agd.pfm
agdo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	agdo.pfm
bd	MYFONT LOADONCALL MOVEABLE DISCARDABLE	bd.pfm
bdi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	bdi.pfm
bl	MYFONT LOADONCALL MOVEABLE DISCARDABLE	bl.pfm
bli	MYFONT LOADONCALL MOVEABLE DISCARDABLE	bli.pfm
cm	MYFONT LOADONCALL MOVEABLE DISCARDABLE	cm.pfm
cb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	cb.pfm
cbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	cbo.pfm
co	MYFONT LOADONCALL MOVEABLE DISCARDABLE	co.pfm
gl	MYFONT LOADONCALL MOVEABLE DISCARDABLE	gl.pfm
gli	MYFONT LOADONCALL MOVEABLE DISCARDABLE	gli.pfm
gb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	gb.pfm
gbi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	gbi.pfm
hm	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hm.pfm
hb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hb.pfm
hbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hbo.pfm
ho	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ho.pfm
hvn	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hvn.pfm
hvnb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hvnb.pfm
hvnbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hvnbo.pfm
hvno	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hvno.pfm
hc	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hc.pfm
hcb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hcb.pfm
hcbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hcbo.pfm
hco	MYFONT LOADONCALL MOVEABLE DISCARDABLE	hco.pfm
ncb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ncb.pfm
ncbi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ncbi.pfm
nci	MYFONT LOADONCALL MOVEABLE DISCARDABLE	nci.pfm
ncr	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ncr.pfm
or	MYFONT LOADONCALL MOVEABLE DISCARDABLE	or.pfm
oo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	oo.pfm
ob	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ob.pfm
obo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	obo.pfm
pb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	pb.pfm
pbi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	pbi.pfm
pi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	pi.pfm
pr	MYFONT LOADONCALL MOVEABLE DISCARDABLE	pr.pfm
sm	MYFONT LOADONCALL MOVEABLE DISCARDABLE	sm.pfm
tb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	tb.pfm
tbi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	tbi.pfm
ti	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ti.pfm
tr	MYFONT LOADONCALL MOVEABLE DISCARDABLE	tr.pfm
zc	MYFONT LOADONCALL MOVEABLE DISCARDABLE	zc.pfm
zd	MYFONT LOADONCALL MOVEABLE DISCARDABLE	zd.pfm
ldo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ldo.pfm
ld	MYFONT LOADONCALL MOVEABLE DISCARDABLE	ld.pfm
lb	MYFONT LOADONCALL MOVEABLE DISCARDABLE	lb.pfm
lbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE	lbo.pfm
sd	MYFONT LOADONCALL MOVEABLE DISCARDABLE	sd.pfm
sdi	MYFONT LOADONCALL MOVEABLE DISCARDABLE	sdi.pfm
sl	MYFONT LOADONCALL MOVEABLE DISCARDABLE	sl.pfm
sli	MYFONT LOADONCALL MOVEABLE DISCARDABLE	sli.pfm


/* compressed postscript */

PS_HEADER   	PS_DATA	LOADONCALL DISCARDABLE header.cps
PS_DL_PREFIX	PS_DATA	LOADONCALL DISCARDABLE dlprefix.cps
PS_DL_SUFFIX	PS_DATA	LOADONCALL DISCARDABLE dlsuffix.cps
PS_1	    	PS_DATA	LOADONCALL DISCARDABLE headchk.cps
PS_2           	PS_DATA LOADONCALL DISCARDABLE headeps.cps
PS_SOFTWARE 	PS_DATA	LOADONCALL DISCARDABLE software.cps
PS_HARDWARE 	PS_DATA	LOADONCALL DISCARDABLE hardware.cps
PS_EHANDLER 	PS_DATA	LOADONCALL DISCARDABLE ehandler.cps
PS_OLIVCHSET	PS_DATA LOADONCALL DISCARDABLE olivchst.cps
PS_UNPACK	PS_DATA LOADONCALL DISCARDABLE rle.cps


/* PAPER structs margin data */

PAPERSIZES	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE papersiz.dta
ZEROMARGINS	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE nomargin.dta
NEGMARGINS	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE ngmargin.dta

/* these files are generated from the printer list file (LIST.APD) */

#include "pass5a.rc"	/* generated by APD.EXE */
#include "pass5b.rc"	/* generated by APD.EXE */
#include "pass5c.rc"	/* generated by APD.EXE */

STRINGTABLE
BEGIN

#include "pass2.rc"	/* generated by APD.EXE */
#include "pass3.rc"	/* generated by APD.EXE */
#include "pass4.rc"	/* generated by APD.EXE */

	IDS_YES			"yes"
	IDS_NO			"no"
	IDS_WINDOWS		"windows"
	IDS_DEVICE		"device"
	IDS_PAPERX		"feed%d"
	IDS_PAPERSOURCE		"source"
	IDS_ORIENTATION		"orient"
	IDS_COLOR		"color"
	IDS_RESOLUTION		"res"
	IDS_JOBTIMEOUT		"timeout"
	IDS_MARGINS  		"margins"
	IDS_HEADER		"header"

	IDS_DEFAULT_USER	"Windows"
	IDS_APPLETALK		"AppleTalk"
	IDS_NULL		" "
	IDS_PREPARE		"status: preparing data."
	IDS_ATMODULEFILE	"AppleTalkFile"
	IDS_DEFAULT_ATFILE	":"
	IDS_DEFAULT_ATMODNAME	"appletlk.dll"
	IDS_EPT		  	"EPT"
        IDS_BINARYIMAGE		"binary port"
	IDS_EXTPRINTER		"ext printer"
	IDS_PRINTER		"printer%d"
	IDS_FILE		"FILE:"


	IDS_ERROR_CAPTION_GENERAL	"Error"
	IDS_ERROR_CAPTION_DATA		"Data error"
	IDS_ERROR_MESSAGE_GENERAL	"PostScript driver error."
	IDS_ERROR_MESSAGE_CORRUPT	"Corrupt PostScript driver."
	IDS_ERROR_MESSAGE_RESOLUTION	"Value for \042Graphics resolution\042 out of range."
	IDS_ERROR_MESSAGE_COPIES	"Value for \042Uncollated copies\042 out of range."
	IDS_ERROR_MESSAGE_JOBTIMEOUT	"Value for \042Job timeout\042 out of range."
	IDS_ERROR_MESSAGE_DOWNLOAD	"Unable to download now."
	IDS_ERROR_MESSAGE_PORT		"Port not available or file not accessible."
	IDS_ERROR_MESSAGE_AT		"AppleTalk interface module not available or the version is incorrect."

	IDS_PROMPT_CAPTION_GENERAL	"PostScript Printer"
	IDS_PROMPT_CAPTION_HEADER	"PostScript Printer"
	IDS_PROMPT_CAPTION_HANDSHAKE	"PostScript Printer"
	IDS_PROMPT_CAPTION_EHANDLER	"PostScript Printer"
	IDS_PROMPT_MESSAGE_GENERAL	"Error"
	IDS_PROMPT_MESSAGE_HEADER	"Download the PostScript header now?"
	IDS_PROMPT_MESSAGE_HANDSHAKE	"Permanently alter the printer's handshaking?"
	IDS_PROMPT_MESSAGE_EHANDLER	"Download the PostScript error handler now?"

	IDS_EPSHEAD "%%!PS-Adobe-2.0 EPSF-2.0\012"
	IDS_EPSBBOX "%%%%BoundingBox: %d %d %d %d\012"

	IDS_PSHEAD "%%!PS-Adobe-2.0\012"

	IDS_PSTITLE "%%%%Creator: Windows PSCRIPT\012%%%%Title: %s\012"

	IDS_PSJOB  "statusdict begin statusdict /jobname (%s) put end\012"
	IDS_PSTIMEOUT "statusdict begin %d setjobtimeout end\012"

END



